<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
  <meta charset="ISO-8859-1">
  <title>Crypto Bank</title>
  <script
          src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
          crossorigin="anonymous"
  ></script>

  <script th:src="@{/js/getCryptosWithFilter.js}"></script>

</head>
<body class="gradient-custom">

<div class ="container" layout:fragment="content">
  <br>
  <div class = "row">
    <h1 class="text-white"> Market </h1>
  </div>
  <br>
  <div class = "row">
    <div class = "col-lg-3" sec:authorize="hasRole('ADMIN')">
      <a th:href = "@{/cryptos/new}" class = "btn btn-primary btn-sm mb-3"> Add Crypto</a>
    </div>
  </div>
  <div class="container mt-4">
    <table class = "table table-dark table-striped table-borderless table-hover align-middle text-center card-1 p-4">
      <thead>
      <tr>
        <th>
          <input class="ml-2 bg-dark form-control text-white" type="text" id="symbolSearch"/>
        </th>
        <th>
          <input class="ml-2 bg-dark form-control text-white" type="text" id="nameSearch"/>
        </th>
        <th>
        </th>
        <th>
          <button class = "btn btn-info" id="filterCryptos">Search</button>
        </th>
      </tr>

      <tr>
        <th>
          <span class="ml-2">Symbol</span>
        </th>
        <th>
          <span class="ml-2">Name</span>
        </th>
        <th>
          <span class="ml-2">Value</span>
        </th>
        <th>
          <span class="ml-4">Action</span>
        </th>
      </tr>
      </thead>

      <tbody id="cryptoTable">
      <tr th:each = "crypto: ${cryptos}">
        <td th:text = "${crypto.symbol}"></td>
        <td th:text = "${crypto.name}"></td>
        <td th:text = "${#numbers.formatCurrency(crypto.value)}"></td>
        <td>
          <div  class="p-2">
            <a th:href = "@{/cryptos/trade/{id}(id=${crypto.id})}" class = "btn btn-info" id="dropDownButton" data-toggle="dropdown">Trade</a>
            <div class="dropdown dropdown-menu drop" aria-labelledby="dropDownButton">
              <a th:href="|@{/cryptos/trade/{id}(id=${crypto.id})}?trade=buy|" class="dropdown-item">Buy</a>
              <a th:href="|@{/cryptos/trade/{id}(id=${crypto.id})}?trade=sell|" class="dropdown-item">Sell</a>
            </div>
            <a th:href = "@{/cryptos/transfer/{id}(id=${crypto.id})}" class = "btn btn-info">Transfer</a>
            <a th:href = "@{/cryptos/edit/{id}(id=${crypto.id})}"
               class = "btn btn-success" sec:authorize="hasRole('ADMIN')">Update</a>
            <a th:href = "@{/cryptos/{id}(id=${crypto.id})}"
               class = "btn btn-danger" sec:authorize="hasRole('ADMIN')">Delete</a>
          </div>
        </td>
      </tr>
      </tbody>

    </table>
    <script th:inline="javascript">
      /* variable used by index.js */
      var authorize = [[${#authorization.expression('hasRole("ADMIN")')}]];
    </script>
  </div>

</div>
</body>
</html>