<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorate="~{layout}">
<head>

</head>
<body>
<div class = "container" layout:fragment="content">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Update Crypto </h1>
            <div class = "card-body">
                <form th:action="@{/cryptos/{id} (id=${crypto.id})}" th:object = "${crypto}" method="POST">
                    <div class ="form-group">
                        <label> Crypto </label>
                        <input
                                type = "text"
                                name = "name"
                                th:field = "*{name}"
                                class = "form-control"
                                placeholder="Enter Crypto Name"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Symbol </label>
                        <input
                                type = "text"
                                name = "symbol"
                                th:field = "*{symbol}"
                                class = "form-control"
                                placeholder="Enter Symbol"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Value </label>
                        <input
                                type = "number"
                                name = "value"
                                th:field = "*{value}"
                                class = "form-control"
                                placeholder="Enter value"
                        />
                    </div>

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>