<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <style>
        .gradient-custom {
            background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
        }
    </style>
    <title>Crypto Bank</title>
</head>
<body>
<div layout:fragment="content">
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <div class="mb-md-4 mt-md-3 pb-4">

                                <h2 class="fw-bold mb-2 text-uppercase">Profile</h2>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Username</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0" th:text="${user.username}"></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">First name</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0" th:text="${user.firstName}"></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Last name</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0" th:text="${user.lastName}"></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0" th:text="${user.email}"></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Fiat balance</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0" th:text="${#numbers.formatCurrency(user.fiat)}"></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a class="btn btn-outline-light btn-lg px-5" type="button" th:href="@{/user/profile/edit}">Edit profile</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <a class="btn btn-success btn-outline-light btn-lg px-5" type="button" th:href="@{/user/profile/deposit}">Deposit fiat</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>