<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Deposit</title>
</head>
<body>

<div layout:fragment="content">
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <div class="mb-md-4 mt-md-3 pb-4">
                                <h2 class="fw-bold mb-2 text-uppercase">Transfer</h2>
                                <p class="text-white-50 mb-5" th:text="${transaction.currency.symbol}"> transfer</p>
                                <form class="form-signup" method="POST" th:action="@{/cryptos/transfer/{id} (id=${crypto.id})}" th:object="${transaction}">
                                    <div class="form-outline form-white mb-4">
                                        <select class="form-control" th:field="*{receiver}" id="dropDownListUsers" required>
                                            <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}" ></option>
                                        </select>
                                        <label class="form-label" for="dropDownListUsers">Receiver</label>
                                    </div>
                                    <div class="form-outline form-white mb-4">
                                        <input type="number" step="any" id="depositX" th:assert="${transaction.amount <= account.get(crypto)}" th:field="*{amount}" class="form-control form-control-lg" required/>
                                        <label class="form-label" for="depositX">Amount</label>
                                        <script th:inline="javascript">
                                            var element = document.getElementById('depositX');
                                            element.max = [[${account.get(crypto)}]];
                                        </script>
                                    </div>
                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Transfer</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>